assets/*
target/**
extension.wasm
grammars/**
languages/**
Cargo.toml
Cargo.lock
extension.toml
src/**
server/**
README.md
.gitignore
.git/**
.github/**
dist/**
package-lock.json
.yarn/**

# Development-only sources/tests
test/
src/encoding/index-*.txt
release/


tests/
test/
